body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

#ui {
  position: absolute;
  width: 100%;
  top: 20%;
  z-index: 10;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: cyan;
  cursor: pointer;
}

button:hover {
  background: #00aaaa;
}

canvas {
  display: block;
}
